button {
  cursor: pointer;
  border: 2px solid #fff;
  background-color: var(--lightBlue);
  border-radius: 10px;
  transition: 0.25s;
  color: #fff;
  &:hover {
    border-color: var(--darkBlue);
  }
  &:active {
    transform: scale(0.9);
  }
}

input {
  font-size: 1vw;
  margin-left: 0.1vw;
  padding-left: 10px;
  border-radius: 20px;
  border: 2px solid var(--lightBlue);
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.25s;
  &:hover {
    border-color: var(--darkBlue);
  }
  &::-webkit-search-cancel-button {
    padding-right: 10px;
  }
}

i {
  color: #fff;
}
