:root {
  --shadow-color: rgba(0, 0, 0, 0.4);
  --font-size-base: 1rem;
  --white: #fff;
  --black: #000;
  --lightBlue: #155bcb;
  --darkBlue: #0c326f;
  --lightRed: #c9184a;
  --darkRed: #800f2f;
  --errorColor: #b4002d;
}
