@import "../../global/global.css";

.registerPage {
  background-image: linear-gradient(
      rgba(12, 50, 111, 0.9) 0%,
      rgba(12, 50, 111, 0.3) 45%
    ),
    url("../../../images/bosque.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.presentation {
  position: relative;
  margin: 4rem;
  bottom: 2.5%;
  height: 22rem;
}

.mainContent {
  position: relative;
  height: 26rem;
  bottom: 5%;
}

.intro {
  display: flex;
  align-items: center;
  height: 20rem;
}

.intro__cta {
  position: relative;
  bottom: 1rem;
}

.presentation__title {
  color: white;
  font-size: 130px;
}

.intro__title {
  color: white;
  font-size: 60px;
}

.intro__ctaText {
  color: white;
  font-size: 40px;
}

.intro__button--register,
.intro__button--login {
  width: 16rem;
  height: 2rem;
}

.presentation__logo {
  width: 25rem;
}

.modal--register {
  margin-left: 1rem;
  position: relative;
  display: none;
  float: right;
  color: var(--white);
  width: 24rem;
  height: 19rem;
  border: 2px solid var(--white);
  border-radius: 10px;
  background-color: var(--lightBlue);
  animation-duration: 0.75s;
  .form--register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    margin-left: 1.5rem;
    width: 20rem;
    opacity: 0;
    animation-delay: 0.75s;
    animation-duration: 0.75s;
  }
}

.form__label {
  letter-spacing: 1.5px;
}

.form__input {
  width: 14rem;
  height: 1.8rem;
  border-color: var(--darkBlue);
}

.form__icon {
  position: relative;
  font-size: 0.8rem;
  color: var(--darkBlue);
  right: 1.6rem;
}

.form__button--submit {
  position: absolute;
  right: 1.5rem;
  width: 5.5rem;
  height: 2rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 20px;
  border: 2px solid var(--darkBlue);
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.25s;

  &:hover {
    background-color: var(--darkBlue);
    color: var(--whites);
  }

  .button__text {
    animation-duration: 0.25s;
  }

  .button__icon {
    color: var(--darkBlue);
    display: none;
    opacity: 0;
    text-align: center;
    animation-delay: 0.25s;
    animation-duration: 0.5s;
  }
}

.modal__button--close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.iframe--hidden {
  display: none;
}

@keyframes submitRegisterButton {
  to {
    opacity: 1;
  }
}

@keyframes hideRegisterButton {
  to {
    opacity: 0;
  }
}

@keyframes showFormsBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeFormsBox {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showRegisterBox {
  0% {
    transform: scaleY(0%) scaleX(5%);
  }
  50% {
    transform: scaleY(100%) scaleX(5%);
  }
  100% {
    transform: scaleY(100%) scaleX(100%);
  }
}

@keyframes closeRegisterBox {
  0% {
    transform: scaleY(100%) scaleX(100%);
  }
  50% {
    transform: scaleY(100%) scaleX(5%);
  }
  100% {
    transform: scaleY(0%) scaleX(5%);
  }
}
