@import "../../global/global.css";

.registerPage {
  background-image: linear-gradient(
      rgba(12, 50, 111, 0.9) 0%,
      rgba(12, 50, 111, 0.3) 45%
    ),
    url("../../../images/bosque.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.presentation {
  margin: 6rem;
  margin-bottom: 16rem;
}

.mainContent {
  margin-bottom: 10rem;
}

.intro {
  margin-top: 2rem;
  display: flex;
  height: 14rem;
}

.presentation__title {
  color: white;
  font-size: 130px;
}

.intro__title {
  color: white;
  font-size: 60px;
}

.intro__ctaText {
  color: white;
  font-size: 40px;
}

.intro__button--register,
.intro__button--login {
  width: 16rem;
  height: 2rem;
}

.presentation__logo {
  width: 25rem;
}

.modal--register {
  margin-left: 4rem;
  position: relative;
  display: none;
  float: right;
  color: var(--white);
  width: 20rem;
  height: 14rem;
  border: 2px solid var(--white);
  border-radius: 10px;
  background-color: var(--lightBlue);
  animation-duration: 0.75s;
  .form--register {
    margin-left: 1.5rem;
    width: 20rem;
    height: 14rem;
    opacity: 0;
    animation-delay: 0.75s;
    animation-duration: 0.75s;
  }
}

.form__group {
  margin: 0.5rem 0;
}

.form__label {
  letter-spacing: 1.5px;
}

.form__button--submit {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 5.5rem;
  height: 2rem;
  background-color: var(--white);
  color: var(--darkBlue);
  border-radius: 20px;
  border: 2px solid var(--lightBlue);
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.25s;
  &:hover {
    border-color: var(--darkBlue);
  }
}

.modal__button--close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.iframe--hidden {
  display: none;
}

@keyframes showFormsBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeFormsBox {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showRegisterBox {
  0% {
    transform: scaleY(0%) scaleX(5%);
  }
  50% {
    transform: scaleY(100%) scaleX(5%);
  }
  100% {
    transform: scaleY(100%) scaleX(100%);
  }
}

@keyframes closeRegisterBox {
  0% {
    transform: scaleY(100%) scaleX(100%);
  }
  50% {
    transform: scaleY(100%) scaleX(5%);
  }
  100% {
    transform: scaleY(0%) scaleX(5%);
  }
}
