.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.header__logo {
  cursor: pointer;
  width: 12rem;
}

.header__navigation {
  width: 55%;
}

.menu__button--toggle,
.menu__button--close {
  display: none;
  cursor: pointer;
}

.navigation__list {
  padding: 0;
  gap: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 10rem;
  height: 4rem;
  text-align: center;
  transition: all 0.3s;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: var(--white);
  border: none;
  border-bottom: 3px solid transparent;
  &:hover {
    border-radius: 5px;
    border-bottom: 3px solid var(--white);
    transform: translateY(-5px);
  }
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 275px;
  width: 16.5rem;
  flex-direction: column;
}

.header__search {
  width: 16rem;
  display: flex;
  justify-content: center;
}

.search__button {
  box-shadow: 5px 5px 5px var(--shadow-color);
  background-color: var(--lightBlue);
  border: 2px solid var(--white);
  border-radius: 25px;
  width: 2.75rem;
  height: 2.75rem;
}

#search__icon {
  color: var(--white);
  font-size: 1.15rem;
  transition: 0.25s;
  &:active {
    transform: scale(0.9);
  }
  &:hover {
    border-color: var(--darkBlue);
  }
}
.search__input {
  font-size: 1rem;
  width: 12.5rem;
  height: 2.75rem;
  margin-left: 0.3rem;
  border-radius: 25px;
  border: 2px solid var(--lightBlue);
  box-shadow: 6px 6px 10px var(--shadow-color);
  transition: 0.25s;
  &:hover {
    border-color: var(--darkBlue);
  }
  &::-webkit-search-cancel-button {
    padding-right: 10px;
  }
}

.header__social {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  border: 2px solid transparent;
  margin-top: 5px;
  .social__link {
    box-shadow: 6px 6px 10px var(--shadow-color);
    text-align: center;
    font-size: 1.35rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 25px;
    transition: 0.25s;
  }

  #social__linkFacebook {
    background-color: #2378c3;
    color: var(--white);
    &:hover {
      background-color: var(--white);
      color: #2378c3;
    }
  }
  #social__linkInstagram {
    background-color: #cd425b;
    color: var(--white);
    &:hover {
      background-color: var(--white);
      color: #cd425b;
    }
  }
  #social__linkXTwitter {
    background-color: #000000;
    color: var(--white);
    &:hover {
      background-color: var(--white);
      color: #000000;
    }
  }
  #social__linkYoutube {
    background-color: #e52207;
    color: var(--white);
    &:hover {
      background-color: var(--white);
      color: #e52207;
    }
  }
  #social__linkLinkedin {
    background-color: #0d7ea2;
    color: var(--white);
    &:hover {
      background-color: var(--white);
      color: #0d7ea2;
    }
  }
}

@media (max-width: 768px) {
  .homepage {
    z-index: -2;
    overflow-x: hidden;
    position: relative;
  }

  .header__left {
    padding: 20px;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    width: 10rem;
  }

  .menu__button--toggle,
  .menu__button--close {
    display: block;
    background-color: transparent;
    border: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    padding: 0;
    flex-direction: column;
  }

  .header__navigation {
    z-index: 1;
    background-color: #2e2e2fcc;
    position: fixed;
    padding-top: 15%;
    top: 0;
    width: 50vw;
    height: 100vh;
    right: -50vw;
    animation-duration: 0.5s;
    .navigation__list {
      justify-content: space-around;
      flex-direction: column;
      .menu__button--toggle,
      .menu__button--close {
        margin-bottom: 50px;
      }
    }
  }
  .header__right {
    display: none;
  }

  #overlay {
    z-index: -1;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation-duration: 0.5s;
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 14px;
  }
}

@keyframes showSidebar {
  from {
    right: -50vw;
  }
  to {
    right: 0;
  }
}

@keyframes showSidebarFilter {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(2px);
  }
}

@keyframes closeSidebarFilter {
  from {
    backdrop-filter: blur(2px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}

@keyframes closeSidebar {
  from {
    right: 0;
  }
  to {
    right: -50vw;
  }
}
