.header {
  padding: 20px;
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  img {
    cursor: pointer;
    width: 14vw;
  }
}

.header__nav {
  width: 55vw;
}

.header__menu-toggle,
.header__menu-close {
  display: none;
  cursor: pointer;
}

.header__nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 55vw;
  align-items: center;
  color: #fff;
}

.header__nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 10vw;
  height: 4vw;
  text-align: center;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.header__nav-item:hover {
  border-radius: 5%;
  border-bottom: 3px solid #fff;
  transform: translateY(-5px);
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.5vw;
  height: 6.5vw;
  flex-direction: column;
  margin-right: 4px;
}

.header__search {
  width: 17vw;
  .header__search-btn {
    padding: 0;
    border-radius: 25px;
    background-color: transparent;
    border-color: transparent;
  }
  #header__search-icon {
    color: #fff;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: var(--lightBlue);
    border: 2px solid #fff;
    font-size: 1.25vw;
    width: 2.75vw;
    height: 2.75vw;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    &:active {
      transform: scale(0.9);
    }
    &:hover {
      border-color: var(--darkBlue);
    }
  }
  .header__search-input {
    font-size: 1vw;
    width: 13.125vw;
    height: 2.75vw;
    margin-left: 0.1vw;
    padding-left: 10px;
    border-radius: 20px;
    border: 2px solid var(--lightBlue);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    transition: 0.25s;
    &:hover {
      border-color: var(--darkBlue);
    }
    &::-webkit-search-cancel-button {
      padding-right: 10px;
    }
  }
}

.header__social {
  width: 17vw;
  display: flex;
  margin-top: 5px;
  padding: 0 2px;
  justify-content: space-between;
  .header__social-link {
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 1.875rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 15px;
    transition: 0.25s;
  }

  #header__social-link-facebook {
    background-color: #2378c3;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #2378c3;
    }
  }
  #header__social-link-instagram {
    background-color: #cd425b;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #cd425b;
    }
  }
  #header__social-link-x-twitter {
    background-color: #000000;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #000000;
    }
  }
  #header__social-link-youtube {
    background-color: #e52207;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #e52207;
    }
  }
  #header__social-link-linkedin {
    background-color: #0d7ea2;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #0d7ea2;
    }
  }
}
