@media (max-width: 768px) {
  .body--homepage {
    overflow-x: hidden;
    position: relative;
  }
  .header__left {
    padding: 20px;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
      width: 10.75rem;
    }
  }
  .header__menu-toggle,
  .header__menu-close {
    display: block;
    background-color: transparent;
    border: none;
  }
  .header__menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    padding: 0;
    flex-direction: column;
    height: 13vh;
  }

  .header__nav {
    z-index: 1;
    background-color: #2e2e2fcc;
    position: fixed;
    padding-top: 17%;
    top: 0;
    width: 50%;
    height: 100vh;
    right: -50vw;
    animation-duration: 0.5s;
    .header__nav-list {
      justify-content: space-around;
      flex-direction: column;
      .header__menu-toggle,
      .header__menu-close {
        margin-bottom: 50px;
      }
    }
  }
  .header__right {
    display: none;
  }

  #header__menu-close {
    height: 87vh;
  }
}

@keyframes showSidebar {
  from {
    right: -50vw;
  }
  to {
    right: 0;
  }
}

@keyframes closeSidebar {
  from {
    right: 0;
  }
  to {
    right: -50vw;
  }
}
