.main {
  display: grid;
  grid-template-columns: 18vw 1fr 22vw;
  grid-template-areas: "aside--left section aside--right";
}

.aside--left,
.aside--right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation__list--aside {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: calc(10vh - 2rem);
}

.navigation__link--aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 9vh;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #fff;
  background-color: var(--lightBlue);
  border-radius: 10px;
  transition: 0.25s;
  color: #fff;
  &:hover {
    border-color: var(--darkBlue);
  }
  &:active {
    transform: scale(0.9);
  }
}

.aside--profile {
  background-color: var(--lightRed);
  &:hover {
    border-color: var(--darkRed);
  }
}

#verticalLine--left {
  top: 8rem;
  left: 18%;
}

#verticalLine--right {
  top: 8rem;
  right: 22%;
}

#verticalLine--left,
#verticalLine--right {
  position: absolute;
  height: 76vh;
  border-radius: 25px;
  border-left: 5px solid var(--white);
}

.aside__title {
  margin-left: 2rem;
  font-size: 1.5rem;
  align-self: flex-start;
  color: var(--white);
  margin-top: 4vh;
}

.aside__post {
  align-self: center;
  color: var(--white);
  margin-top: 0.5rem;
  width: 18vw;
  height: 60vh;
  border: 2px solid var(--white);
  border-radius: 10px;
  background-color: var(--lightBlue);
  .aside__form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    height: inherit;
  }
  .form__group--textarea {
    text-align: center;
    height: 50%;
    .form__label--textarea {
      display: inline-block;
      height: 1.25rem;
    }
    .form__textarea {
      outline: none;
      height: 90%;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      border-radius: 10px;
      border: 3px solid var(--darkBlue);
      box-shadow: 6px 6px 10px 0px var(--shadow-color);
      width: 16vw;
      resize: none;
    }
  }
  .form__group--file {
    height: 37.5%;
    .form__subgroup--input {
      text-align: center;
      .form__label--file {
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        border: 2px solid var(--darkBlue);
        width: 9rem;
        display: inline-flex;
        justify-content: center;
        height: 1.75rem;
        border-radius: 20px;
        background-color: var(--white);
        color: var(--black);
        box-shadow: 6px 6px 10px 0px var(--shadow-color);
        transition: 0.25s;
        &:active {
          transform: scale(0.9);
        }
      }
      .form__input--file {
        display: none;
      }
      .form__button--close {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 25px;
        background-color: var(--white);
        box-shadow: 6px 6px 10px 0px var(--shadow-color);
        border: 2px solid var(--darkBlue);
        .form__icon--close {
          color: var(--black);
        }
      }
    }
    .form__subgroup--preview {
      text-align: center;
      margin-top: 0.5rem;
      width: 14vw;
      height: calc(100% - 2.25rem);
      .form__image {
        display: none;
        border: 2px solid var(--white);
        border-radius: 10px;
        box-shadow: 6px 6px 10px 0px var(--shadow-color);
        align-self: center;
        max-width: 14vw;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  .form__button--submit {
    font-weight: bold;
    margin-bottom: 0.75rem;
    width: 5.5rem;
    height: 2rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
    border: 2px solid var(--lightBlue);
    box-shadow: 6px 6px 10px 0px var(--shadow-color);
    &:hover {
      background-color: var(--darkBlue);
      color: var(--whites);
      border-color: var(--darkBlue);
    }
  }
}

.iframe--hidden {
  display: none;
}
